.one-page-checkout-button {
  margin-top: 10px;
}

.one-page-checkout-loader {
  margin-top: 40px;
}

.time-load{
    display: none;
    text-align: center;
}
.safe_payment_logo{
    padding: 10px 0 ;
}

.paypal-button{
    cursor: pointer;
    border: none;
    padding: 0px;
}

.paypal-button:disabled{
    cursor: not-allowed;
}
